
body{
	margin : 0;
	padding : 0;
	margin-bottom: 0;
	background-color: #FFFACD;
}

h1, h2, h3, h4, h5, h6{
	font-family: 'Amatic SC', cursive;
}

/***********HEADER***************/

header{
	background-color: black;
	height:100px;
	display: flex;
}

header img{
	height: 100%;
}

header h1{
	
	font-size: 60px;
	color:yellow;
	margin-top:2px;
}

/********TEXTE***********/

h2{
	text-align: center;
	font-size: 40px;
	margin-bottom : 2%;
	margin-top: 5%;
}

p{
	font-family: 'Barlow Condensed', sans-serif;
	margin-left:5%;
	margin-right:5%;
	margin-bottom : 5%;
	text-align : justify;
}

/*******ACCUEIL***********/

.citronade{
	width:100%;
}

.lemonade{
	width:30%;
}

.accueil {
	padding-bottom:5%;

}

/**********PRODUITS***********/

.citronMobile{
	width: 100%;
}

.citronPc{
	display: none;
}

.lemon{
	width:80px; 
	margin-bottom:5%;
	margin-left:75%;
	}

/**********EVENEMENT**********/

.image{
	background: url("../image/obligatoire.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
    background-repeat: repeat-x;
    margin-top:5%;
    margin-bottom: 5%;
    height: 120px;
}


legend{
	font-size: 30px;
	font-family: 'Amatic SC', cursive;

}

#pers_info{
	font-family: 'Barlow Condensed', sans-serif;
	display : flex;
	border : none;
	width: 100%;
	margin-left:5%;

}

.carte{
    height: 350px;
    width:70%;
    margin-left: 15%;
    margin-bottom: 15%;
}



.aPropos, .evenement, .produit{
	border-top: 2px solid black	;
}



/********A PROPOS DE NOUS **********/

.blocAPropos{
	display: flex;
	justify-content: center;
}

.dessin{
	width:100px;
	height: 100px;
}

/**********FOOTER***********/

footer{
	padding-left: 10%;
}
  nav li
    {
        display: inline;
    }

footer img{
	width : 35px;
	height: 35px;
	padding-right: 5%;
	margin-bottom:5%;
}

@media screen and (min-width: 768px) {

	/********ACCUEIL*********/

	.citronade{
		width: 70%
	}

	.accueil{
		display:flex;
		align-items: center;
		padding-bottom: 0;
	}

	.corps{
		text-align: center;
	}

	/********TEXTE**********/

	h2{
		font-size: 60px;
		margin-top: 2.5%;
	}

	p{
		font-size:20px;
		margin-bottom:2.5%;
	}

	/***********PRODUIT************/

	.produit{
		display: flex;
	}

	.citronMobile{
		display: none;
	}

	.citronPc{
		display: inline;
	}

	.lemon{
		margin-left: 45%;
	}

	/***********EVENEMENT**********/

	.image{
		height: 230px;
		margin-top:0;
	}

	.inscription{
		display: flex;
	}

	#pers_info{
		margin-left: 10%;
	}

	.carte{
		width: 100%;
		margin-right: 10%;
	}

	/**********A PROPOS DE NOUS**********/

	.dessin{
		margin-top:2%;
		margin-left:2.5%;
	}

}